 body {
	margin: 30px;
	--size: 200px;
	--border: 4px;
}

* {
	box-sizing: border-box;
}

#root {
	overflow: hidden;
}

.mask {
	overflow: hidden;
}

.box {
	text-align: center;
	background: #eee;
	border: 1px solid #ddd;
	width: var(--size);
	height: var(--size);
	border-radius: calc(var(--border) * 4);
	transform-origin: 50% 70%;
}

.track {
	position: relative;
	user-select: none;
	display: flex;
	width: calc(var(--size) + var(--border) * 2);
	min-width: calc(var(--size) + var(--border) * 2);
	background: rgba(0,0,0, .1);
	border: 1px solid #ddd;
	margin-bottom: 80px;
	overflow: hidden;
}

.train {
	position: relative;
	display: flex;
}

.center {
	justify-content: center;
	align-items: center;
}

.wide {
	width: 100%;
}

.icon-container {
	position: absolute;
	right: 0;
	display: flex;
	width: 40%;
	justify-content: space-around;
	align-items: center;
}

.icon {
	background: black;
	height: calc(var(--size) / 4);
	width: calc(var(--size) / 4);
	margin: 4px;
}

