.track3d {
  perspective: 600px;
  overflow: visible;
  width: var(--size);
  height: var(--size);
}

.train3d {
  position: relative;
  display: block;
  transform-style: preserve-3d;
  width: var(--size);
  height: var(--size);
  transform-origin: 0% 100%;
}

.car3d {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--size);
  height: var(--size);
}
